 <router-outlet name='home-post'>
<div class="container">
  <div class="row">
    <div class="col-lg-8 col-md-10 mx-auto">
      <div class="post-preview">
        <a [routerLink]="['/posts' , post.id]">
          <h2 class="post-title">
          {{post.title}}
          </h2>
          <h3 class="post-subtitle">
            {{post.about}}
          </h3>
        </a>
        <p class="post-meta">Posted by
          <a [routerLink]="['/posts',post.id]">Start Bootstrap</a>
          on September 24, 2017</p>
      </div>
    </div>
  </div>
</div>
      <hr>
</router-outlet>
