<p>{{postId}}</p>

<div *ngIf="post">
<article >
  <div class="container">
    <div class="row">
      <div class="col-lg-8 col-md-10 mx-auto">
        <p>{{postp1}}</p>

        <p>{{post.p2}}</p>

        <p>{{post.p3}}</p>

        <p>{{post.p4}}</p>

        <p>{{post.p5}}</p>

        <h2 class="section-heading">{{post.title}}</h2>

        <p>{{post.p6}}</p>

        <p>{{post.p7}}</p>

        <blockquote class="blockquote">{{post.quote}}</blockquote>


        <p>{{post.p8}}</p>

        <h2 class="section-heading">{{post.sectionHeading}}</h2>

        <p>{{post.p9}}</p>

        <a href="#">
          <img class="img-fluid" src="postimg" alt="">
        </a>
        <span class="caption text-muted">{{post.span}}</span>

        <p>{{post.p10}}</p>

        <p>{{post.p11}}</p>


      </div>
    </div>
  </div>
</article>
</div>
