.navbar-custom{
  background-color: white;
}

.footer {
    position: relative;
    left: 0;
    bottom: 0;
    width: 100%;
    color: inherit;
    text-align: center;
}
.example{
margin-left:400px;
}
.example2{
  margin-top:8px;
  margin-left:350px;
}
.button-custom{
  margin-top: 8px;
  width: 100px;
}
.form-row{
  margin-left:150px;
  margin-top: 20px;
}
.search-drop-down {
    position: absolute;
    width: 38%;
    margin-top: -30px;
    margin-left: 5px;
    max-height: inherit;
    overflow-y: auto;
    z-index: 10;
    background-color: #F6F6F6;
    font-family: sans-serif;
    opacity: 0.98;
}

.search-results {
    padding: 10px;
}

.search-results:hover {
    background: #707070;
    cursor: pointer;
}

@media (max-width: 768px) {
  .container{
    margin-top: 20px;
  }
  .example{
  margin-left:30px;

  }
  .example2{
    margin-left: 0px;
  }
  .button-custom{
    margin-top: -30px;
    width: 150px;
    margin-left: 85px;
  }
  .form-row{
    margin-left: auto;
    margin-top: 12px;
  }
  .search-drop-down {
      position: absolute;
      width: 90%;
      margin-top: -80px;
      max-height: inherit;
      overflow-y: auto;
      z-index: 10;
      background-color: #F6F6F6;
      font-family: sans-serif;
      opacity: 0.98;
  }

 }
